@import url("https://fonts.googleapis.com/css?family=Railway");

@import url("https://fonts.googleapis.com/css?family=Oswald");

html, body {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    background-color:white;
}
.intro {
    height:100%;
    width:100%;
    margin:auto;
    background: url("images/lakemountains.jpg") no-repeat 50% 50%;
    display:table;
    top:0%;
    background-size:cover;
    
}


/***************************** Headings **************************/
h1 {
    text-align: center;
    font-size: 100px;
    font-family: lobster, monospace;
    color:white;
    margin-top: 450px;
    margin-bottom: 0%;
}

h2 {
    font-family: lobster;
    font-style: italic;
    color:black;
    text-align:center;
    font-size:60px;
}

h5 {
    text-align:left;
    margin-bottom:2px;
    font-size: 22px;
    
}

h4 {
    text-align:center;
}
/************************************* Navigation & Links *****************/
nav {
    
    display:flex;
    justify-content: center;
    margin-top:30px; 
}


section a:link {
    text-decoration-line: none;
}

nav a {
    margin-left:20px;
    text-decoration-line: none;
    font-size: 25px;
    font-family: lobster;
    color:black;
}

nav a:hover {
    font-size: 30px;
}

.navigation:hover {
    font-size:50px;
}
/********************************* Text *************************/

p, ul, td {
    text-indent: 20px;
    font-size: 17px;
    line-height:25px;
}


.sections {

    border: 20px solid whitesmoke;
    border-radius: 20px;
    margin:80px;
    padding:20px;
    background-color: whitesmoke;
    box-shadow: 10px 10px 10px 10px grey;
    
}

table, th, td {
    border: 2px solid black;
    color:black;
}

th  {
    height:70px;
    text-align:center;
}

td {
    padding:10px;
    text-align:center;
}
tr:hover {
    background-color:lightcoral;
}

footer {
    text-align:center;
    margin-bottom:30px;
    
}
/************************************************ Flex box containers *****************/

.containerC {
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    flex-wrap: wrap;
}

.box2 {
    width:500px;
    padding:15px;
}


.containerS {
    display:flex;
    justify-content: space-evenly;
    margin-bottom:100px;
    flex-wrap: wrap-reverse;
}


.box4 {
    order:-1;
    width:500px;
}

#containeraboutme {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}

/********************************* Images & logos ***************************************/
#skipic {
    border-radius: 20px;
    padding:10px;
    width:500px;
    height:400px;
}

#climbingpic {
    border-radius: 20px;
     padding:10px;
     width:500px;
     height:400px;
 }

 .containerlogos{
    display:flex;
    justify-content: center;

 }
 #githublogo {
     width:100px;
     height:50px;
     padding:30px
 }

 #instagramlogo {
     width: 50px;
     height:50px;
     padding: 30px;
 }

 #freecodecamplogo {
    width: 250px;
    height:50px;
    padding: 30px;
 }

 #hothampic {
     height: 350px;
     width: 350px;
     border-radius:200px;
     border:5px solid black;
     
    
 }


 .btn {
     background-color: white;
     padding:10px;
     border-radius: 5px;
     opacity: 0.7;
     font-size:30px;
     color:black;
     text-decoration-line: none;
     margin: 10px;
     opacity: 0.2;
     font-family: lobster;
 }
 
 .btn:hover {
     opacity: 1;
     box-shadow:10px 10px;
 }